#radio-ui-container > * {
    display: inline-block;
}
#current-radio-container {
    width: 150px;
}
#radio-volume {
    vertical-align: middle;
    margin: 0;
    width: 100px;
}
#radio-fallback-container {
    overflow: hidden;
    width: 0;
    height: 0;
}
